<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bruce.tixcraft-monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/mixxin/test/tik/monitor.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/mixxin/test/tik</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/mixxin/test/tik/monitor.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mixxin/test/tik/monitor.err</string>
</dict>
</plist>
